<div fxLayout="row wrap">
  <ng-container *ngFor="let tweet of tweetList; index as ind">
    <mat-card class="shared-card" (click)="openTweetInfo(tweet)">
      <mat-card-header *ngIf="isHeader">
        <img
          mat-card-avatar
          routerLink="/user/{{ tweet.user.id }}"
          src="{{ tweet.user.image | setImg }}">
        <mat-card-title routerLink="/user/{{ tweet.user.id }}">
          {{ tweet.user.user_name }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <textarea class="shared-card" readonly>{{ tweet.message }}</textarea>
      </mat-card-content>

      <mat-card-footer fxLayout="row" fxLayoutAlign="space-between">
        <span>
          <ng-container
            *ngIf="setFavorite(tweet); then onFavorite; else offFavorite">
          </ng-container>
          {{ tweet.favorites.length }}
        </span>
        <span class="tweet-created_at" fxLayoutAlign="center center">
          {{ tweet.created_at| date: 'yyyy/MM/dd hh:mm' }}
        </span>

        <ng-template #onFavorite>
          <button mat-icon-button color="warn" (click)="deleteFavorite($event, ind)">
            <mat-icon>favorite</mat-icon>
          </button>
        </ng-template>
        <ng-template #offFavorite>
          <button mat-icon-button (click)="addFavorite($event, ind)">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </ng-template>
      </mat-card-footer>
    </mat-card>
  </ng-container>
</div>
