.container-inner {
  // 全体のスクロールを抑制
  overflow: hidden;
}

::ng-deep .mat-tab-label {
  width: 25%;
}

#mat-card-inner {
  width: calc(100% * 2 / 3 - 2 * var(--shared-card-margin));
  margin: var(--shared-card-margin);
}

.mat-card-content {
  margin-bottom: 0;
}

textarea:read-only {
  height: 100px;
  margin-bottom: 12px;
}

.mat-tab-group-wrap {
  flex: 1 1 auto;
  overflow: scroll;
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  #mat-card-inner {
    width: calc(100% * 2 / 2 - 2 * var(--shared-card-margin));
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  #mat-card-inner {
    width: calc(100% - 2 * var(--shared-card-margin))
  }
}

@media screen and (max-width: 599px) {
  #mat-card-inner {
    width: calc(100% - 2 * var(--shared-card-margin));
  }
}