<h2 mat-dialog-title>{{ 'TWEET.ADD' | translate }}</h2>

<mat-dialog-content>
  <mat-dialog-content>
    <form
      fxLayout="column"
      [formGroup]="tweetForm">
      <mat-form-field>
        <input
          matInput
          matType="textarea"
          type="textarea"
          formControlName="message"
          placeholder="{{ 'TWEET.MESSAGE' | translate }}">
          <mat-error
          *ngIf="message?.errors !== null
            && message?.errors?.['required'] === true">
          {{ 'TWEET.MESSAGE' | translate }}
          {{ 'VALIDATOR.REQUIRED' | translate }}
        </mat-error>
        <mat-error
          *ngIf="message?.errors !== null
            && message?.errors?.['maxlength'] !== undefined">
          {{ 'TWEET.MESSAGE' | translate }}
          {{
            'VALIDATOR.LESS_THAN' |
            translate: {
              val: message?.errors?.['maxlength']?.['requiredLength']
            }
          }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="tweetForm.invalid"
    [mat-dialog-close]="tweetForm"
    (click)="addTweet()">
    {{ 'TWEET.ADD' | translate }}
  </button>
  <button mat-button (click)="cancel()">
    {{ 'SHARE.CANCEL' | translate }}
  </button>
</mat-dialog-actions>
