<h2 mat-dialog-title>{{ 'USER.EDIT' | translate }}</h2>

<mat-dialog-content>
  <form
    fxLayout="column"
    [formGroup]="userForm">
    <mat-form-field>
      <input
        matInput
        matType="text"
        type="text"
        formControlName="user_name"
        placeholder="{{ 'USER.USER_NAME' | translate }}"
        required>
      <mat-error
        *ngIf="user_name.errors !== null &&
        user_name.errors?.['required'] === true">
        {{ 'USER.USER_NAME' | translate }}
        {{ 'VALIDATOR.REQUIRED' | translate }}
      </mat-error>
      <mat-error
        *ngIf="user_name.errors !== null &&
        user_name.errors['maxlength'] !== undefined">
        {{ 'USER.USER_NAME' | translate }}
        {{
          'VALIDATOR.LESS_THAN' |
          translate: {
            val: user_name.errors['maxlength']?.['requiredLength']
          }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        formControlName="profile"
        placeholder="{{ 'USER.PROFILE' | translate }}">
      </textarea>
      <mat-error
        *ngIf="profile.errors !== null &&
        profile.errors['maxlength'] !== undefined">
        {{ 'USER.PROFILE' | translate }}
        {{
          'VALIDATOR.LESS_THAN' |
          translate: {
            val: profile.errors['maxlength']?.['requiredLength']
          }
        }}
      </mat-error>
    </mat-form-field>

    <input
      type="text"
      formControlName="image"
      hidden>

    <div fxFlex="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <img
        mat-card-avatar
        src="{{ image.value ?? '' | setImg }}">
    <mat-form-field class="extension">
      <ngx-mat-file-input
        formControlName="tmp"
        (change)="onFileChange($event)"
        accept="image/*"
        placeholder="{{ 'USER.IMAGE' | translate }}">
      </ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="userForm.invalid"
    [mat-dialog-close]="userForm"
    (click)="updateUser()">
    {{ 'SHARE.UPDATE' | translate }}
  </button>
  <button mat-button (click)="cancel()">
    {{ 'SHARE.CANCEL' | translate }}
  </button>
</mat-dialog-actions>
