<form
  [formGroup]="userForm">
  <input
    type="text"
    formControlName="user_name"
    placeholder="{{ 'USER.USER_NAME' | translate }}">
  <input
    type="textarea"
    formControlName="profile"
    placeholder="{{ 'USER.PROFILE' | translate }}">
  <input
    type="text"
    formControlName="image"
    hidden>
  <input
    type="file"
    formControlName="tmp"
    (change)="onFileChange($event)"
    accept="image/jpeg, image/png">
</form>
<button (click)="updateUser()">{{ 'USER.EDIT' | translate }}</button>
