<form
  (ngSubmit)="addUser()"
  [formGroup]="userForm">
  <input
    type="text"
    formControlName="user_name"
    placeholder="{{ 'USER.USER_NAME' | translate }}">
  <input
    type="text"
    formControlName="email"
    placeholder="{{ 'USER.EMAIL' | translate }}"
    required>
  <input
    type="password"
    formControlName="password"
    placeholder="{{ 'USER.PASSWORD' | translate }}">

  <button>{{ 'USER.ADD' | translate }}</button>
</form>
<a routerLink="/login">{{ 'AUTH.LOGOUT' | translate }}</a>