<mat-nav-list>
  <a mat-list-item href="tweets">
    <mat-icon>forum</mat-icon>
    {{ 'TWEET.LIST' | translate }}
  </a>
  <a mat-list-item href="users">
    <mat-icon>people</mat-icon>
    {{ 'USER.LIST' | translate }}
  </a>
    <a mat-list-item href="/">
    <mat-icon>home</mat-icon>
    {{ 'USER.HOME' | translate }}
  </a>
  <a mat-list-item href="user/{{ current_user_id }}">
    <mat-icon>account_circle</mat-icon>
    {{ 'USER.MY_PAGE' | translate }}
  </a>
  <a mat-list-item (click)="addTweet()">
    <mat-icon>add</mat-icon>
    {{ 'TWEET.ADD' | translate }}
  </a>
  <a mat-list-item (click)="updateUser()">
    <mat-icon>edit</mat-icon>
    {{ 'USER.EDIT' | translate }}
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    {{ 'AUTH.LOGOUT' | translate }}
  </a>
</mat-nav-list>
