/* You can add global styles to this file, and also import other style files */

$shared-card-margin: 0.5%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 64px;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 100%;
  height: calc(100% - var(--header-height));
}

span.spacer {
  flex: 1 1 auto;
}

span.tweet-created_at {
  margin-right: 16px;
}

textarea:read-only {
  resize: none;
  border: none;
  outline: none;
  &.shared-card {
    width: 100%;
    height: 80px;
  }
}

mat-card-header.mat-card-header {
  margin-bottom: 12px;
}

mat-dialog-container.mat-dialog-container,
mat-card.user-form {
  width: 600px;
  margin: 0 auto;
}

mat-card.shared-card {
  width: calc(100% / 3 - 2 * $shared-card-margin);
  margin: $shared-card-margin;
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  mat-card.shared-card {
    width: calc(100% / 3 - 2 * $shared-card-margin);
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  mat-dialog-container.mat-dialog-container,
  mat-card.user-form {
    width: 600px;
    max-width: 90vw;
  }
  mat-card.shared-card {
    width: calc(100% / 2 - 2 * $shared-card-margin)
  }
}

@media screen and (max-width: 599px) {
  :root {
    --header-height: 56px;
  }
  mat-dialog-container.mat-dialog-container,
  mat-card.user-form { width: 90vw; }
  mat-card.shared-card {
    width: calc(100% - 2 * $shared-card-margin);
  }
}